<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Name:<%= name %></h1>
    <h2>EMail:<%= mail %></h2>
  </body>
</html>